[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
psycopg2-binary = "*"
peewee = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
